<style>
 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Permanent+Marker&display=swap');
 .size{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-size: larger;
  font-style:normal;
  font-weight: bolder;
 }
 .price{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
 }
 .pizza_name{
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  font-style: normal;
  font-size: larger;
 }
</style>

<section   class="home">
    <aside>
        <img src="/img/hero-pizza.jpg" alt="Image" style="border-radius: 10px;">
      </aside>
      
      <div class="main-content clearfix">
        <div class="main-content-text">
          <h2 style="font-size: larger;font-weight: 900;">Helping Senior Citizen</h2>
          <p>Our main motive is to provide all the services in a single application so that thay can easily use our application.</p>
          <p>Raise awareness about issues affecting seniors in your community by sharing information through social media, community events, or local newspapers.</p>
        </div>
      </div>
</section>

<h1 class="text-xl font-bold mb-8 px-10" id="all_food" style="text-align: center;margin-top: 20px;color: hsl(217, 100%, 12%);font-size: 4rem;font-family:Poppins", sans-serif;">All Food</h1>

<div class="menu">
    <% pizzas.forEach(function(pizza) { %>
    <div class="menu-item">
      <img src="/img/<%= pizza.image %>" alt="Burger">
      <h3 class="pizza_name"><%= pizza.name %></h3>
      <span class="size" style="background-color: #E0F7FA;padding: 10px 10px 10px 10px ;"><%= pizza.size %></span>
      <p class="price">₹<%= pizza.price %></p>
      <button data-pizza="<%= JSON.stringify(pizza) %>"
        class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold btn-cart" style="background-color: #0d2c40;">
        <span>+</span>
        <span class="ml-4">Add</span>
    </button>
    </div>
    <% }) %>
</div>




